@charset "utf-8";
/* CSS Document */
 /* {
	border-style: solid;
} */

body {
	border-color: crimson;
	background-color: antiquewhite;
}
h1 {
	border: 2px solid #a1a1a1;
	width: 400px;
	background: #dddddd;
	border-radius: 25px;
	margin: auto;
	text-align: center;
	font-family: "楷体";
	color: brown;
}
#navi {
	padding-top: 40px;}
#navigator {
	position: relative;
	left: 130px;
}
#love-link {
	position: relative;
	left: 150px;
}
#birthday {
	position: relative;
	left: 190px;
}
#about{
	
	position: relative;
	left: 170px;}
video {
	border: 2px solid #D91A60;
	width: 320px;
	
	border-radius: 25px;
	margin: 20px auto;
	display: block;
}

/*div {
	border-color: aqua
}*/
p {
	border-color: blueviolet
}
audio {
	border-color: chartreuse
}
#text {
	text-indent: 50px;
	font-family: "宋体";
	font-size: 20px;
	width: 90%;
	margin: auto;
}
#author {
	text-align: center;
}
#txt {
	width: 30%;
	text-align: center;
	font-size: 30px;
	display: none;
}
@keyframes myfirst {
 0% {
 transform: rotate(0deg);
left: 240px;
 top: 5px;
}
 25% {
 transform: rotate(20deg);
left: 240px;
 top: 5px;
}
 50% {
 transform: rotate(0deg);
left: 1000px;
 top: 5px;
}
 55% {
 transform: rotate(0deg);
left: 1000px;
 top: 5px;
}
70% {
background: #1ec7e6;
 transform: rotate(0deg);
left: 100
	0px;
 top: 5px;
}
 100% {
 left: 240px;
 top: 5px;
transform: rotate(-360deg)
}
}
#anim {
	width: 60px;
	background: #92B901;
	border-radius: 5px;
	position: relative;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	animation-name: myfirst;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}
